@keyframes welcomeMove {
  0% { transform: translateX(100%); opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { transform: translateX(-100%); opacity: 0; }
}

.welcome-scroll-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.welcome-scroll {
  white-space: nowrap;
  position: absolute;
  animation: welcomeMove 10s linear infinite;
}
.footer-image img {
    width: 100%;        /* Makes image full width */
    height: auto;       /* Keeps proper proportions */
    display: block;     /* Removes gaps */
}
